@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-gray-900 antialiased bg-white;
    font-feature-settings: 'kern' 1, 'liga' 1;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight;
  }
}

@layer components {
  .container-custom {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}

